<% provide(:title, "About the Quote Generator") %>
<h2> About</h2>
<p>This is a website for generating random quotes. These quotes draw from a variety of languages and sources. For example,
  there are French, English, and Russian quotes coming from a variety of people ranging from Eleanor Roosevelt to A.S. Pushkin.
The user can generate a random quote, add quotes to the database, or look at the available list of quotes in the database.
To generate a quote, click the "Generate Quote" button above. To add a quote click the "Add Quote" button above. To see the entire
list of quotes, click the "Quotes List" button above. </p>
