<% provide(:title, "Quotes List") %>
<h2>Quotes List</h2>

<ul>

<% @myquotes.each do | quote | %>

<li align="left"><%= quote.content %> - <%=quote.author%> (<%=quote.language%>) </li>
<% end %>

</ul>
