<% provide(:title, "Generate a Quote") %>
<h2>Generate a Quote</h2>

<p><big> <%= @somequote.content %></big> </p>
<p>- <%= @somequote.author %> (<%= @somequote.language %>)</p>
<p style="color:Gray"> <small><small> English quotes are taken from https://quotesnsmiles.com/quotes/77-of-the-worlds-most-popular-quotes/ or the user.</small> </small></p>
<p style="color:Gray"> <small><small> French quotes are taken from https://www.mon-poeme.fr/proverbes-francais-celebres/ or the user. </small></small></p>
<p style="color:Gray"> <small><small> Russian quotes are taken from https://russianpodcast.eu/famous-russian-quotes.html or the user. </small></small></p>
<p style="color:Gray"> <small><small> Any other quotes are from the user. </small></small></p>
