<% provide(:title, "Quote Generator: English") %>
<h1>Quote Generator</h1>
<p> <%= @quote %> </p>
<p> <%= link_to 'New Quote', quote_generator_path %> </p>
<p style="color:Gray"> <small> Quotes are taken from https://quotesnsmiles.com/quotes/77-of-the-worlds-most-popular-quotes/. </small></p>
